.claude/
CLAUDE.md
.claude*

*~
*.pyc
*.swp
.DS_Store
.factorypath

bin/
build/
.gradle/
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

.classpath
.project
.settings/
bin/

.idea/
*.iml
*.ipr
*.iws
out/
.shelf/

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
.metadata/

ctre_sim/
logs/
networktables.json
networktables.json.bck
simgui*.json
*-window.json

.wpilib/wpilib_preferences.json.bck
